@model IEnumerable<ReservaModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.FechaEntrada)</th>
            <th>@Html.DisplayNameFor(model => model.FechaSalida)</th>
            <th>@Html.DisplayNameFor(model => model.ValorPagar)</th>
            <th>@Html.DisplayNameFor(model => model.Cliente)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.FechaEntrada)</td>
                <td>@Html.DisplayFor(modelItem => item.FechaSalida)</td>
                <td>@Html.DisplayFor(modelItem => item.ValorPagar)</td>
                <td>@Html.DisplayFor(modelItem => item.Cliente.Nombre)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning btn-sm">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger btn-sm">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>